body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #46178f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    width: 90%;
    max-width: 800px;
    text-align: center;
}

#timer {
    font-size: 2rem;
    background: #333;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 30px;
}

button {
    height: 120px;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: transform 0.1s;
}

button:active { transform: scale(0.98); }

.btn-0 { background: #e21b3c; } /* Трикутник */
.btn-1 { background: #1368ce; } /* Ромб */
.btn-2 { background: #d89e00; } /* Коло */
.btn-3 { background: #336128; } /* Квадрат */
#start-screen {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
}

#start-btn {
    background: #26890c;
    padding: 15px 40px;
    height: auto;
    margin-top: 20px;
    font-weight: bold;
}
/* Класи для підсвічування */
.correct { background-color: #33ff00 !important; border: 4px solid white; }
.wrong { background-color: #e21b3c !important; opacity: 0.5; }